<!-- sign in page -->
<% provide(:title, "Sign In")%>

<h1>Sign In</h1>

<%= form_tag sessions_path do %>

<div class="field">
	<%= label_tag :email%>
	<%= text_field_tag :email, params[:email]%>
</div>
<div class="field">
	<%= label_tag :password%>
	<%= text_field_tag :password%>
</div>
<div class="actions"><%= submit_tag "Sign in"%></div>

<% end %>

<p>New user? <%= link_to "Sign up now!", signup_path %></p>


